.menubar {
  width: 100vw;
  height: 40px;
  position: fixed;
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 999;
  opacity: .6;
}

.menubar:hover {
  opacity: 1;
  transition: .4s ease;
}

.firstpage {
  color: white;
  background-color: inherit;
  opacity: 1;
}

.contents {
  width: 500px;
  margin-left: 100px;
  font-family: AkzidenzGroteskPro-Regular;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.contents>a {
  font-family: AkzidenzGroteskPro-Md;
}

.arrow {
  width: 20px;
  height: 20px;
  background-image: url(../img/arrow.svg);
  background-size: cover;
  margin: 0 0;
}

.navigation {
  width: 800px;
  margin-right: 50px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;

  font-family: AkzidenzGroteskPro-Md;
}

.navItem {
  margin: 0 10px;
  cursor: pointer;
}

.navItem:hover {
  text-decoration: underline;
}
