body {
  height: 5800px;
}

.logoLine {
  width: 100vh;

  position: absolute;

  transform: rotate(-90deg);
  top: 48vh;
  left: calc(-48vh + 25px);

  // overflow: hidden;

  p {
    width: 5800px;
    font-family: OldStandard-Regular;
    font-size: 17px;
    margin-left: calc(-5790px + 100vh);
    display: block;
  }

  z-index: 3
}

.white {
  color: white;
  // height: 100vh;
  z-index: 4;
  overflow: hidden;
}

.black {
  color: black;
}

.landingWrapper {
  width: 100%;
  height: 5800px;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.firstPage {
  width: 100vw;
  height: 100vh;

  position: relative;
  overflow: hidden;

}

.logoWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    width: 463px;
    height: 463px;
    background-image: url(../img/chukovskiyLogo.svg);
    z-index: 2;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: .3;
}

nav {
  height: 100vh;
  width: 100vw;
  position: absolute;
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;*/
  z-index: 5;

  .scrollPlus,
  .scrollMinus {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;

    width: 100px;
    height: 100vh;

    cursor: pointer;
    z-index: 99;
  }

  .scrollPlus:active,
  .scrollMinus:active {
    transform: scale(1.1);
  }

  .scrollPlus {
    background-image: url(../img/plus.svg);
    background-position: left;
    right: 0px;
  }

  .scrollMinus {
    background-image: url(../img/minus.svg);
    background-position: right;
    left: 0px;
  }

}

.hidden {
  opacity: 0;
  cursor: default;
  display: none;
}

.gallery {
  width: 600vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // transition: .3s ease;
}

.galleryItem {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
}

#gi1 {background-image: url(../img/chukovskiyFirstPage1.png);}
#gi2 {background-image: url(../img/chukovskiyFirstPage2.jpg);}
#gi3 {background-image: url(../img/chukovskiyFirstPage3.jpg);}
#gi4 {background-image: url(../img/chukovskiyFirstPage4.jpg);}
#gi5 {background-image: url(../img/chukovskiyFirstPage5.jpg);}
#gi6 {background-image: url(../img/chukovskiyFirstPage6.jpg);}

.info {
  width: 1109px;
  height: 115px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .infoItem {
    text-align: center;
    font-family: AkzidenzGroteskPro-Regular;
    font-size: 18px;
    line-height: 22px;
  }
}

.info::after {
  width: calc(100% + 34px);
  height: 2px;
  content: '';
  position: absolute;
  background-color: lightgray;
  bottom: 0;
}

.infoItem {
  width: 347px;
  position: relative;
}

#ii2::before {
  width: 2px;
  height: 100%;
  content: '';
  position: absolute;
  background-color: lightgray;
  left: 0;
  top: 0;
}

#ii2::after {
  width: 2px;
  height: 100%;
  content: '';
  position: absolute;
  background-color: lightgray;
  right: 0;
  top: 0;
}

.teaser {
  width: 712px;
  // height: 470px;
  position: relative;
  padding-top: 50px;

  font-family: OldStandard-Regular;
  font-size: 44px;
  color: #2A2C66;
  line-height: 54px;
}

.text {
  width: 712px;
  position: relative;
}

h1 {
  font-family: AkzidenzGroteskPro-Md;
  font-size: 64px;
  margin-top: 65px;
  margin-left: -17px;


  &+p {
    margin-top: 20px;
  }
}

p {
  font-family: AkzidenzGroteskPro-Regular;
  font-size: 23px;
  // letter-spacing: 0.54px;
  line-height: 30px;

  &+p {
    margin-top: 15px;
  }
}

.pSmall {
  font-size: 12px;
  line-height: 16px;
}

lead {
  width: 892px;
  height: 411px;
  margin: 50px 0 50px -90px;
  padding: 47px;
  border: 2px solid #2A2C66;
  display: block;


  font-family: OldStandard-Regular;
  font-size: 44px;
  color: #2A2C66;
  line-height: 52px;
  text-align: center;
}

.textTables {
  width: 1114px;
  position: relative;
  margin-left: -199px;
  margin-top: 20px;
  margin-bottom: 20px;
  // transform: scale(.9);

  h1 {
    font-family: AkzidenzGroteskPro-Md;
    font-size: 28px;
    color: #2A2C66;
    line-height: 36px;
    margin-top: 0;
    margin-left: 0;
  }

  h2 {
    font-family: AkzidenzGroteskPro-Regular;
    font-size: 20px;
    color: #000000;
    line-height: 22px;
  }

  p {
    font-family: AkzidenzGroteskPro-Regular;
    font-size: 18px;
    color: #000000;
    line-height: 22px;
  }
}

.textTable::before {
  width: calc(100% + 34px);
  height: 2px;
  content: '';
  position: absolute;
  background-color: lightgray;
  top: -2px;
}

.textTable::after {
  width: calc(100% + 34px);
  height: 2px;
  content: '';
  position: absolute;
  background-color: lightgray;
  bottom: 0;
}

.textTable {
  width: 1114px;
  height: 248px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#t1 {height: 248px;}
#t2 {height: 210px;}

.textTableFlex1 {
  width: 385px;
  padding: 15px 0 0 18px;
}

.textTableFlex2 {
  width: 521px;
  padding: 15px 0;
}

.textTableFlex3 {
  width: 213px;
  padding: 15px 0 0 50px;
}

.botton {
  width: 133px;
  height: 40px;
  border: 1px solid #000000;

  font-family: AkzidenzGroteskPro-Regular;
  font-size: 20px;
  color: #000000;
  line-height: 37px;
  text-align: center;
  transition: .2s ease;
  cursor: pointer;
}

.botton:hover {
  transform: scale(1.05);
}

.workers {
  position: relative;
  width: 1000px;
  margin-left: -91px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.workersItem {
  width: 197px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 74px;
  margin-top: 36px;

  img {
    position: relative;
    width: 167px;
    opacity: .5;
  }

  img:hover {
    opacity: 1;
  }

  h1 {
    position: relative;
    font-family: AkzidenzGroteskPro-Md;
    font-size: 26px;
    line-height: 30px;
    margin-top: 12px;
    margin-left: -10px;
  }

  p {
    position: relative;
    font-family: AkzidenzGroteskPro-Regular;
    font-size: 12px;
    line-height: 14px;
    margin-top: 7px;
    width: 200px;
  }
}


img {
  position: absolute;
  transition: .2s ease;
}

#img1 {
  width: 438px;
  left: calc((100vw - 712px) / -2);
  margin-top: -100px;
  opacity: .4;
}

#img2 {
  width: 438px;
  right: calc((100vw - 712px) / -2);
  margin-top: 50px;
  opacity: .4;
}

#img3 {
  width: 438px;
  left: calc((100vw - 712px) / -2);
  margin-top: -100px;
  opacity: .4;
}

#img1:hover,
#img2:hover,
#img3:hover {
  opacity: 1;
  z-index: 2;
}

.footer {
  width: 712px;
  height: 115px;
  margin-top: 90px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .footerItem {
    text-align: center;
    font-family: OldStandard-Regular;
    font-size: 12px;
    line-height: 14px;
  }
}

.footer::before {
  width: calc(1143px);
  height: 2px;
  content: '';
  position: absolute;
  background-color: lightgray;
  top: 0;
}

.footerItem {
  width: 347px;
  position: relative;
}

#fi2 {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
